#footer1{
    text-align: center;            
}
#footer1 .subscribe_footer{
    padding-top: 2%;       
    border-top: 2px solid skyblue;
}
#footer1 .subscribe_footer .subsribe {
    background-color: lightsteelblue;
    border-radius: 50px;
    padding: .5%;
    margin: auto 20%;
    width: 60%;

}
#footer1 .subscribe_footer .subsribe input[type=email] {
    width: 70%;
    border: none;
    padding: 1% 2%;
    margin-left: 2%;
    background-color: lightsteelblue;
    outline: none;
}
#footer1 .subscribe_footer .subsribe input[type=button] {
    padding: 2%;
    width: 27%;
    background-color: blue;
    color: white;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
}
#footer1 .subscribe_footer .subsribe input[type=button]:hover {
    background-color: lightsteelblue;
}
#footer3,
#footer2{
    margin-top: 2%;
}
#footer2 .footer_container{
    padding-right: 2%;            
}
#footer2 .footer_container a{
    text-decoration: none;
}
#footer3 .footer_container  a{
    text-decoration: none;
    margin-left: 2%;
}
#footer4{
    margin-top: 2%;
    margin-bottom: 2%;
}
#footer4 a{
    text-decoration: none;
}
#footer4 .col-md-5 snall{
    float: right;
    padding-right: 10%;   
}
.err{color: red;}
/***********************************************/
@media only screen and (max-width: 500px){
    #footer1 .subscribe_footer br:nth-child(1) {
        display: none;
    }
    #footer1 .subscribe_footer .subsribe {
        margin: auto 2%;
        width: 94%;
        padding: 3%;
    }
    #footer1 .subscribe_footer .subsribe input[type=email] {
        width: 62%;
    }
    #footer1 .subscribe_footer .subsribe input[type=button] {
        width: auto;
        padding: 2% 4%;
    }
    #footer1 .subscribe_footer br{
        display: none;
    }
    #footer2 .col-md-5{
        width: 50%;
        margin-bottom: 2%;
    }
    #footer3 .col-md-10{
        padding: 2%;   
    }
    #footer3 .col-md-10 .footer_container{
        padding: 2% 3%;
        background-color: lightgray;
    }
    #footer4 .col-md-5{
        text-align: center;
    }
    #footer4 .col-md-5 snall{
        float: center;
        margin-bottom: 5%;
    }
}