.sub_container{
    width: 55%;
    float: left;
}
.sub_container:nth-child(1){
    margin-top: 3%;
}
.sub_container:nth-child(2){
    width: 45%;
    padding: 1% 1% 2% 1%;
    height: 700px;
}
.sub_container:nth-child(2) .buttons{
    width: 100%;
    float: left;
}
#google_map_btn,
#list_view_btn,
#search_toggle{
    display: none;
}
#filter_main_btn, 
#google_map_btn,
#search_toggle,
#list_view_btn,
#sort_results {
    border: 1px solid skyblue;
    background-color: skyblue;
    /*color: white;*/
    padding: 5px 7px;
    margin: 2px 12px;
    border-radius: 12px;
    outline: none;
}
#sort_results{
    float: right;
    margin-right: 2px;
}
#filter_accommodations{
    display: none;
    width: 100%;
    float: left;
}        
#filter_accommodations .filter_accommodations{
    display: none;
    width: 100%;
    float: left;
    margin-right: 2%;
    display: none;
}
#next_page {
    margin-top: 4%;
    text-align: center;
}
#next_page .next_page {
    border: none;
    color: white;
    background-color: deepskyblue;
    border-radius: 7px;
    padding: 3px 7px;
    margin: 0px 1px;
}
#next_page .inner_page{
    display: inline;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}
#accommodation_map{
    width: 100%; 
    float: left;
    height: 100%;; 
    margin-bottom: 1%;
    margin-top: 5%;   
    padding: 0px;
}
#filter_accommodations .filter_accommodations .filters .sub_filter{
    border: 1px solid skyblue;
    padding: 3%;
    margin: auto 2%;
    border-radius: 12px;
    width: 46%;
    float: left;
}
#filter_accommodations .filter_accommodations .filters p span:nth-child(2){
    float: right;
    margin: 2% 5%;
}
#submit_filters,
#reset_filters{
    width: 46%;
    text-align: center;
    padding: 1%;
    background-color: skyblue;
    color: white;
    border: 2px solid skyblue;
    border-radius: 12px;
    margin: 4% 2%;
    float: left;
    outline: none;
}
#reset_filters{
    background-color: skyblue;
    border-color: white;
}     
#reset_filters{
    background-color: gray;
    border-color: gray;
}
#submit_filters:hover,
#reset_filters:hover{
    background-color: white;
    color: gray;
}

#display_results{
    width: 100%;
    float: left;
    margin-top: 7px;
}
#display_results .accommodations{
    width: 100%;
    float: left;
    margin-left: 1%;
}
#display_results .accommodations .accommodation{
    width: 100%;
    height: 150px;
    float: left;
    border: 1px solid gray;
    box-shadow: 2px 2px 7px 1px;
    border-radius: 7px;
    margin-bottom: 2%;
}
#display_results .accommodations .accommodation .images{
    width: 33%;
    height: 150px;
    float: left;
    padding-right: 2%;
}
#display_results .accommodations .accommodation .images .carousel{
    height: 100%;
    width: 100%;
}
#display_results .accommodations .accommodation .images .carousel-inner{
    width: 100%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
}
#display_results .accommodations .accommodation .images .carousel-inner .carousel-item{
    height: 100%;
    width: 100%;
}
#display_results .accommodations .accommodation .details{
    width: 42%;   
    float: left;
    margin: 7px auto;
}
#display_results .accommodations .accommodation .view_deal{
    width: 25%;   
    float: left;
    margin: 7px auto;
}
#display_results .accommodations .accommodation .details h4{
    margin-bottom: 2px;
}
#display_results .accommodations .accommodation .details .stars .checked{
    color: orange;
}
#display_results .accommodations .accommodation .details small{
    font-style: italic;
    color: gray;
    font-size: 13px;
    display: inline;
}
#display_results .accommodations .accommodation .details .nsfas{
    margin: 2% auto 1px auto;

}
#display_results .accommodations .accommodation .details .nsfas span{
    background-color: red;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    padding: 3px 3%;
    margin-top: 5px;
    width: auto;
}
#display_results .accommodations .accommodation .view_deal .view_deal_btn{
    background-color: gray;
    padding: 12% 20%;
    margin-top: 2%;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 7px 1px;
    margin-bottom: 1%;
}
#display_results .accommodations .accommodation .view_deal .price{
    margin-left: 20%;   
}
/*************************google maps *******************************/
#accommodation_map .accommodations .accommodation{
  width: 350px;
  height: 100px;
  border-radius: 12px;
}
#accommodation_map .accommodations .accommodation .image{
  width: 36%;
  height: 100%;
  float: left;
  border-top-left-radius: 12px;

}
#accommodation_map .accommodations .accommodation .details{
  width: 64%;
  float: left;
  padding: 1% 2%;
}
#accommodation_map .accommodations .accommodation .details h4,
#accommodation_map .accommodations .accommodation .details p{
  margin-bottom: 0px;
}
#accommodation_map .accommodations .accommodation .details .location{
float: left;
}
#accommodation_map .accommodations .accommodation .details .stars .checked{
  color: orange;
}
#accommodation_map .accommodations .accommodation .details .nsfas {
  margin: 1% auto;
}
#accommodation_map .accommodations .accommodation .details .nsfas span {
background-color: red;
border-radius: 7px;
color: white;
font-size: 14px;
padding: 1px 3%;
margin-top: 5px;
width: auto;
}
#accommodation_map .accommodations .accommodation .details .view_deal_btn{
    float: right;
    background-color: gray;
    padding: 2% 4%;
    margin-top: 2%;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 7px 1px;
    margin-bottom: 0%;
}
@media only screen and (max-width: 500px){
    #main_container{
        display: none;
    }
    #main_container h3{
        display: none;
    }
    #filter_main_btn, 
    #google_map_btn,
    #search_toggle,
    #sort_results {
        margin: 2px 0px;
    }
    #search_toggle{
        text-align: center;
        display: inline-block;
    }
    #list_view_btn,
    #google_map_btn{
        position: fixed;
        bottom: 2%;
        text-align: center;
        z-index: 1;
        left: 30%;
        right: 30%;
    }
    #google_map_btn{
        display: inline-block;
    }
    #list_view_btn{
        display: none;
    }
    .sub_container:nth-child(2) {
        display: none;
        width: 100%;
    }
    .sub_container{
        width: 100%;   
    }
    .sub_container .buttons{
        margin-top: 2%;
        margin-right: 2%;
    }

    #display_results {
        width: 97%;
    }
    #display_results .accommodations .accommodation {
        height: 200px;   
    }
    #display_results .accommodations .accommodation:last-child {
        margin-bottom: 5%;
    }
    #display_results .accommodations .accommodation .images {
        height: 140px;   
        width: 40%;
        float: left;
    }
    #display_results .accommodations .accommodation .details {
        width: 60%;   
        float: left;
    }
    #display_results .accommodations .accommodation .view_deal {
        width: 100%; 
        float: left;
    }
    #display_results .accommodations .accommodation .view_deal div{
        display: none;
    }
    #display_results .accommodations .accommodation .view_deal .view_deal_btn {
        display: inline;
        float: right;
        margin-left: 4%;
        padding: 2% 6%;
        margin-top: -4%;
        margin-right: 2%;
        margin-bottom: 1%;
    }

    /**********************google maps *********************/
    #accommodation_map .accommodations .accommodation{
        width: 100%;
        height: 100px;
        border-radius: 12px;
        bottom: 0;
        text-align: center;
    }
}
