#nsfas{
    border: 1px solid skyblue;
    padding: 2px;
}
#main_page .address p{
    margin-left: 1%;
    font-style: italic;
}
#main_page .sub table,
#main_page .sub table tr{
    border-collapse: collapse;
    width: 60%;
    background-color: lightgray;
}
#main_page .sub table tr th,
#main_page .sub table tr td{
    padding: 4px 7px;
}
#main_page .sub table colgroup col:nth-child(1) {
    width: 30%;
}
#main_page .sub table colgroup col:nth-child(2),
#main_page .sub table colgroup col:nth-child(3) {
    width: 30%;
}
#main_page .sub table colgroup col:nth-child(4) {
    width: 30%;
}
#main_page .sub table input{
    width: 60%;
    border: 1px solid lightblue;
    margin-left: 3%;
    background-color: rgb(225, 225, 225);
}
#telephone, 
#website{
    width: 25%;
    padding: 2px 2%;
    border: 1px solid lightblue;
    border-radius: 10px;
}
#single_a,
#double_a,
#three_a{
    border: 1px solid lightblue;
    padding: 2px 4px;
}
#update_main_page{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 3px 15px;
    background-color: lightblue;

}